 .cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: rgba(170, 2, 248, 0.89);
    height: 100px;
    max-height: 100%;
    margin: 0;
    align-items: center;
}

.logo {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

}

.logo img {
    width: 74px;
    height: 74px;
}

.logo h2 {
    margin: 18px 0 0 0;
    font-size: 20px;
    font-family: 'Courier New', monospace;
}


.menu a {
    font-size: 30px;
   
    
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 15px 0 0;
    align-items: center;
}

.menu li {
    margin: 0 0 0 25px;

}

.main{
    
    margin: 20px 40px 0 40px;
    align-items: center;
    text-align: center; 
    /* background-color: rgb(240, 245, 245); */
 } 

 .apresentacao{
 display: flex;
}
.apresentacao img{
    width: 250px;
    height: 250px;
    
}

.ficha{
    display: flex;
    flex-direction: column;
    text-align: left;
    
}
.ficha p{
    margin: 0 0 15px 15px;
    font-style: italic;
    color: rgb(126, 126, 138); 
    font-family: Arial, Helvetica, sans-serif;  
}
section{
    margin: 25px 0 0 0;
}
section p{
    margin: 15px;
}
section h2{
    margin: 60px 0 0 0;
}
.section-apresentacao p{
justify-content: center;
width: 500px;
margin: auto;
margin-top: 15px;

}
.imagem img{
    display: flex;
    width: 60%;
    height: 60%;
    margin:auto;
    padding: 30px;
}
.tabela{
text-align: center;
margin: auto;

}
.tabela th{
background-color:#bb86fc ;
color:white ;
}
.tabela td{
background-color:#424250 ;
color:white ;
} 